/* Management */
.management-container {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.admin-nav {
  height: 90vh;
  width: 250px;
  padding-left: 10px;
  /* background-color: fuchsia; */
  /* z-index: 100; */
  /* border-left: 1px solid black ; */
  /* border-right: 2px solid red; */
  position: fixed;
  top: 8vh;
}
.admin-list {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  padding: 20px;
}
.admin-func {
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  width: 100px;
  transition: all ease-in-out 0.6s;
  box-shadow: 5px 5px 5px #0f0;
  color: black;
  font-size: 1.2rem;
  width: 100%;
  padding: 2px 10px;
}
.admin-func a {
  text-decoration: none;
  color: black;
}
.active-func,
.admin-func:hover {
  transform: scale(1.1);
  box-shadow: 7px 7px 5px 2px rgb(0, 39, 0);
}

.admin-panel {
  flex: 1;
  /* background-color: red; */
  height: inherit;
  /* display: flex; */
  /* background-color: crimson; */
  position: relative;
  left: 300px;
}
.hidden-panel {
  display: none;
  transition: all ease-in-out 5s;
  padding: 20px;
  /* position: absolute;
  top: 16vh; */
}
.active-panel {
  display: block;
  width: 100%;
  min-height: 80vh;
  animation: rollup 2s forwards;
  border-left: 1px solid black;
  /* background-color: red; */
}
.hidden-panel h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

#flock {
  height: 100vh;
  /* background-color: teal; */
  padding: 50px;
  width: 100%;
}
.flock-section {
  height: 100%;
  width: inherit;
  display: flex;
}
.flock-stats {
  /* display: flex; */
  background-color: rgba(0, 0, 0, 0.9);
  padding: 5px;
  color: white;
  height: 80%;
}
.flock-stats .main-stat {
  font-size: 1.2rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex: 1;
  height: 50%;
  width: 300px;
}
.spinner-circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;

  position: relative;
  /* background-color: blue; */
}
.spinner {
  border: 20px dashed #0f0;
  /* border-top: none;
    border-bottom: none; */
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 4;
  transition: all ease-in-out 5s;
  animation: spin 5s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-content {
  font-weight: 600;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: black;
}

.flock-stats .stat-meta {
  /* background-color: yellow;             */
  display: flex;
  flex-direction: column;
}
.update-flock {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  /* background-color: turquoise; */
}
.update-flock form {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: black; */
  border: 1px solid black;
}
.add-flock form input {
  width: 300px;
  margin: 10px;
  height: 25px;
}
.add-flock form .btn {
  background-color: #0f0;
  color: black;
}
.flock-history {
  width: 90%;
}

#brooders {
  height: 100vh;
  background-color: aqua;
}
#orders {
  height: 100vh;
  /* background-color: lightsalmon; */
}
#feedback {
  height: 100vh;
  /* background-color: crimson; */
}
#location {
  height: 100vh;
  /* background-color: darkmagenta; */
}
#statistics {
  height: 100vh;
  /* background-color: floralwhite; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    color: green;
  }
  25% {
    transform: rotate(120deg);
    opacity: 0.4;
    color: black;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.8;
    color: green;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    color: black;
  }
}

@keyframes rollup {
  from {
    opacity: 0;
    transform: scale(0);
    opacity: 0.4;
    transform: translateY(-5%);
  }
  50% {
    opacity: 0.8;
  }
  to {
    transform: translateY(0%);
    transform: scale(1);
    opacity: 1;
  }
}
