<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/resources/chicken.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Admin Panel</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="#">Explore</a></li>
                <li class="nav-item logo"><a href="/">The Farm</a></li>
                <li class="nav-item"><a href="/admin"> Admin</a></li>
            </ul>
        </nav>
    </header>
    <div class="navigation">
        <ul class="user-nav">
            <li><a href="/management#brooder-container"> Brooder </a></li>
            <li><a href="/management#inventory-container">Inventory</a></li>
            <li><a href="/">Log Out</a></li>
        </ul>
    </div>

    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/login"> Sign In</a></li>
            <li class="nav-item"><a href="/management"> Employee</a></li>
            <li><a href="/employee">Hello: {{email}}</a></li>
        </ul>
    </nav>

    <section class="employees-container">
        <h2>Admin Panel</h2>
        <table>
            <tr>
                <td>ID</td>
                <td>Name</td>
                </td>
                <td>Phone</td>
                <td>Email</td>
                <td>Password</td>
                <td>Rights</td>
                <td>Date Joined</td>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>2021-{{employee[0]}}</td>
                <td>{{employee[1]}} {{employee[2]}}</td>
                <td>{{employee[4]}}</td>
                <td><a href="mailto:{{employee[3]}}">{{employee[3]}}</a></td>
                <td>{{employee[7]}}</td>
                <td>{{employee[5]}}</td>
                <td>{{employee[6].strftime('%B %d, %Y')}}</td>
            </tr>
            {% endfor %}

            <tr class="new-employee">
                <form action="/new-employee" method="POST">
                    <td><input type="text" id="" name="employee-id" placeholder="Employee ID" class="form-control"
                            disabled></td>
                    <td><input type="text" id="" name="employee-name" placeholder="Name" class="form-control"></td>
                    <td><input type="text" id="" name="employee-phone" placeholder="Phone" class="form-control"></td>
                    <td><input type="text" id="" name="employee-email" placeholder="Email" class="form-control"
                            disabled></td>
                    <td><input type="text" id="" name="password" placeholder="theFarm123" class="form-control" disabled>
                    </td>
                    <td><select name="rights" id="" class="btn">
                            <option value="">Standard</option>
                            <option value="">Sudo</option>
                        </select></td>
                    <td><button class="btn">Add Employee</button></td>
                </form>
            </tr>
        </table>
    </section>

    <section class="customers-container">
        <h1>Customers</h1>
        <table>
            <tr>
                <td>ID</td>
                <td>Name</td>
                </td>
                <td>Phone</td>
                <td>Email</td>
                <td>Residence</td>
                <td>Password</td>
                <td>Date Joined</td>
                <td>Orders</td>
            </tr>
            {% for customer in customers %}
            <tr>
                <td>2021-{{customer[0]}}</td>
                <td>{{customer[1]}} {{customer[2]}}</td>
                <td>{{customer[4]}}</td>
                <td><a href="mailto:{{customer[3]}}">{{customer[3]}}</a></td>
                <td>{{customer[5]}}</td>
                <td>{{customer[7]}}</td>
                <td>{{customer[6].strftime('%B %d, %Y')}}</td>
            </tr>
            {% endfor %}
        </table>
    </section>


    <section class="orders-container">
        <h1>Orders</h1>
        <table>
            <tr>
                <td>Order No.</td>
                <td>Customer No.</td>
                <td>Product Name</td>
                <td>Count</td>
                <td>Date</td>
                <td>Status</td>
            </tr>
 
            {% for order in orders %}
            
                <tr>
                    <td>{{order[0]}}</td>
                    {% for customer in customers %}
                         {% if order[1] == customer[0] %}
                        <td>{{customer[1]}} {{customer[2]}} - {{order[1]}}</td>
                        {% endif %}
                        {% endfor %}

                    <td>{{order[2]}}</td>
                    <td>{{order[3]}}</td>
                    <td>{{order[4]}}</td>
                    <td>Pending</td>
              

                </tr>
   
            {% endfor %}
        </table>

    </section>

    <section class="report-container">
        <h2>Report Summary</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eos qui quos earum repudiandae dignissimos
            recusandae, cumque laboriosam eum voluptas.</p>
    </section>


    <footer>
        <div class="sponsors">Lorem ipsum dolor sit amet consectetur. </div>
        <span class="copyright"> Copyright&copy; Shammah 2021</span>
    </footer>

</body>

</html>