<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/resources/chicken.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/customer.css" />

    <title>Orders</title>
  </head>

  <body>
    <header>
      <nav>
        <ul class="nav-list">
          <li class="nav-item logo"><a href="/">The Farm</a></li>
          <li class="nav-item"><a href="/#products">Explore</a></li>
        </ul>
      </nav>
    </header>
    <div class="navigation">
      <ul class="user-nav">
        <li>
          <a href="/customer">{{username}}</a>
          <div class="online"></div>
        </li>
        <li>
          <a href="/{{username}}/settings">Settings</a>
        </li>
        <li><a href="/login">Log Out</a></li>
      </ul>
    </div>
    <section class="my-orders-container">
      <div class="pending-orders">
        <h2>Pending Orders</h2>

        <div class="cart-container">
          <div class="cart-item">
            <img src="../static/resources/chicken-farm-1.jpg" alt="Layers" />
            <div class="order-meta">
              <span>
                <h4>Layers</h4>
                <i class="layers-orders"></i>
              </span>
              <span>
                <h4>Amount</h4>
                <i class="layers-amount"></i>
              </span>
              <span>
                <a href="#">X</a>
              </span>
            </div>
          </div>

          <div class="cart-item">
            <img src="../static/resources/cock-1.jpg" alt="Broilers" />
            <div class="order-meta">
              <span>
                <h4>Broilers</h4>
                <i class="broilers-orders"></i>
              </span>
              <span>
                <h4>Amount</h4>
                <i class="broilers-amount"></i>
              </span>
              <span>
                <a href="#">X</a>
              </span>
            </div>
          </div>

          <div class="cart-item">
            <img src="../static/resources/chick.jpg" alt="Chicks" />
            <div class="order-meta">
              <span>
                <h4>Chicks</h4>
                <i class="chicks-orders"></i>
              </span>
              <span>
                <h4>Amount</h4>
                <i class="chicks-amount"></i>
              </span>
              <span>
                <a href="#">X</a>
              </span>
            </div>
          </div>
          <div class="totals-meta">
            <div class="order-totals">
              <span>
                <h4>Quantity:</h4>
                <i class="total-quantity"></i>
              </span>
              <span>
                <h4>Total Price:</h4>
                <i class="total-cost"></i>
              </span>
            </div>
            <button class="btn"><a href="/orders/checkout">Checkout</a></button>
          </div>
        </div>
      </div>
    </section>
    <section class="orders-history" id="history">
      <h2>Order History</h2>
    </section>
    <footer>
      <div class="sponsors">Lorem ipsum dolor sit amet consectetur.</div>
      <span class="copyright"> Copyright&copy; Shammah 2021</span>
    </footer>

    <script src="../static/client.js"></script>
  </body>
</html>
