<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/management.css" />
    <link rel="stylesheet" href="../static/adminPanel.css" />
    <title>The Farm</title>
  </head>

  <body>
    <header>
      <nav>
        <ul class="nav-list">
          <li class="nav-item logo"><a href="/">The Farm</a></li>
          <li class="nav-item"><a href="/#products">Explore</a></li>
        </ul>
      </nav>
    </header>
    <div class="navigation">
      <ul class="user-nav">
        <li>
          <a href="/employee">Hello: {{username}}</a>
          <div class="online"></div>
        </li>
        <li><a href="/employee/brooder"> Brooders </a></li>
        {% if 'admin' in email %}
        <li><a href="/management">Management</a></li>
        {% endif %}
        <li><a href="/employee_login">Log Out</a></li>
      </ul>
    </div>
    <h1>Health Center</h1>

    <section class="health-container">
      <div class="health-updates">
        <div class="medicine-section">
          <h2>Update Medicine</h2>
          <form action="#" method="POST">
            Name:
            <input
              type="text"
              class="form-control"
              placeholder="Medicine name"
              name="medicine-name"
            />
            Quantity<input
              type="text"
              class="form-control"
              placeholder="Quantity"
              name="quantity"
            />
            Date<input type="date" name="date" />
          </form>
        </div>

        <div class="mortality">
          <h2>Mortality Rate</h2>
          <form action="#" method="POST">
            Brooder:
            <select name="mortality" id="">
              <option value="brooder-one">One</option>
              <option value="brooder-two">Two</option>
              <option value="brooder-three">Three</option>
              <option value="brooder-four">Four</option>
            </select>
            Count:
            <input
              type="number"
              name="mortality-count"
              id=""
              placeholder="'Mortality Count"
            />
          </form>
        </div>

        <div class="vaccination">
          <h2>Vaccination</h2>
          <form action="#" method="POST">
            Brooder:
            <select name="vaccination" id="">
              <option value="brooder-one">One</option>
              <option value="brooder-two">Two</option>
              <option value="brooder-three">Three</option>
              <option value="brooder-four">Four</option>
            </select>
            Medicine Used:
            <input
              type="text"
              class="form-control"
              name="medicine-used"
              placeholder="Medicine used"
            />
            Date<input type="date" name="date" />
          </form>
        </div>
      </div>

      <div class="health-stats" id="health-stats">
        <h2>Health Statistics</h2>
        <table>
          <tr>
            <td>
              <h3>Mortality Rate</h3>
            </td>
            <td>
              <h3>Medicine In Stock</h3>
            </td>
            <td>
              <h3>Vaccination History</h3>
            </td>
          </tr>
          <tr>
            <td>25</td>
            <td>Starters</td>
            <td>22/09/2021</td>
          </tr>
        </table>
      </div>
    </section>

    <br />
    <a href="#" style="float: right">Back To Top</a>
    <br />
    <footer>
      <div class="sponsors">Lorem ipsum dolor sit amet consectetur.</div>
      <span class="copyright"> Copyright&copy; Shammah 2021</span>
    </footer>
    <script src="../static/main.js"></script>
  </body>
</html>
