<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="icon" href="../static/resources/chicken.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/management.css" />
    <title>The Farm</title>
  </head>

  <body>
    <header>
      <nav>
        <ul class="nav-list">
          <li class="nav-item logo"><a href="/">The Farm</a></li>
          <li class="nav-item"><a href="/#products">Explore</a></li>
        </ul>
      </nav>
    </header>
    <div class="navigation">
      <ul class="user-nav">
        <li>
          <a href="/employee">Administrator</a>
          <div class="online"></div>
        </li>
        <li><a href="/employee/brooder"> Brooders </a></li>
        <li><a href="/employee/health">Health Centre</a></li>
        <li><a href="/employee_login">Log Out</a></li>
      </ul>
    </div>

    <section class="management-container">
      <div class="admin-nav">
        <ul class="admin-list">
          <li class="admin-func active-func">Employees</li>
          <li class="admin-func">Customers</li>
          <li class="admin-func">Flock</li>
          <li class="admin-func">Products</li>
          <li class="admin-func">Brooders</li>
          <li class="admin-func">Orders</li>
          <li class="admin-func">Feedback</li>
          <li class="admin-func">Location</li>
          <li class="admin-func">Statistics</li>
        </ul>
      </div>
      <section class="admin-panel">
        <!-- Employees Panel -->
        <section class="hidden-panel active-panel" id="employees">
          <h1>Employees</h1>
          <div class="employees-section">
            <h2>Employees Section</h2>
            <table>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Section</th>
                <th>Rights</th>
                <th>Password</th>
                <th>Status</th>
                <th>Date Joined</th>
              </tr>
              {% for employee in employees %}
              <tr>
                <td>2021-{{employee[0]}}</td>
                <td>{{employee[1]}} {{employee[2]}}</td>
                <td>{{employee[4]}}</td>
                <td><a href="mailto:{{employee[3]}}">{{employee[3]}}</a></td>
                <td>{{employee[7]}}</td>
                <td>{{employee[5]}}</td>
                <td>{{employee[6][0:10]}}</td>
                <td>{{employee[8]}}</td>
                <td>{{employee[9]}}</td>
              </tr>
              {% endfor %}

              <tr class="new-employee">
                <form action="/new-employee" method="POST">
                  <td>
                    <input
                      type="text"
                      id=""
                      name="employee-id"
                      placeholder="Employee ID"
                      title="Auto Generated"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      id=""
                      name="employee-name"
                      placeholder="Name"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      id=""
                      name="employee-phone"
                      placeholder="Phone"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      id=""
                      name="employee-email"
                      placeholder="Email"
                      disabled
                      title="Auto Generated"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      id=""
                      name="section"
                      placeholder="Section"
                      required
                    />
                  </td>
                  <td>
                    <select name="rights" id="" class="btn" required>
                      <option value="">Standard</option>
                      <option value="">Sudo</option>
                    </select>
                  </td>
                  <td>
                    <input
                      type="text"
                      id=""
                      name="password"
                      placeholder="theFarm123"
                      disabled
                      title="Default Password"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      id=""
                      name="active"
                      placeholder="active"
                      disabled
                      title="Status"
                    />
                  </td>

                  <td><button class="btn">+Employee</button></td>
                </form>
              </tr>
            </table>
            <div class="panel-statistics"></div>
            <div class="update-employees"></div>
          </div>
        </section>

        <!-- Customers Panel -->
        <section class="hidden-panel" id="customers">
          <h1>Customers</h1>
          <div class="customers-section">
            <h2>Customers Section</h2>
            <table>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Residence</th>
                <th>Password</th>
                <th>Status</th>
                <th>Date Joined</th>
                <th>Orders Placed</th>
              </tr>
              {% for customer in customers %}
              <tr>
                <td>2021-{{customer[0]}}</td>
                <td>{{customer[1]}} {{customer[2]}}</td>
                <td>{{customer[4]}}</td>
                <td><a href="mailto:{{customer[3]}}">{{customer[3]}}</a></td>
                <td>{{customer[6]}}</td>
                <td>{{customer[5][0:10]}}</td>
                <td>{{customer[7]}}</td>
                <td>{{customer[8].strftime('%d %b %Y')}}</td>
                <td>25</td>
              </tr>
              {% endfor %}
            </table>
            <div class="panel-statistics"></div>
            <div class="update-customers"></div>
          </div>
        </section>

        <!-- Flock Data -->
        <section class="hidden-panel" id="flock">
          <h1>Flock Statistics</h1>
          <div class="flock-section">
            <div class="panel-statistics">
              <div class="flock-stats stats">
                <div class="main-stat">
                  <div class="spinner-circle">
                    <div class="spinner"></div>
                    <!-- Get Latest flock addition -->

                    <div class="spinner-content">{{flock[-1][1]}}</div>
                  </div>
                  <span
                    ><strong>Last Purchase: </strong>{{flock[-1][3].strftime('%d
                    %B %Y')}}</span
                  >
                </div>
                <div class="stat-meta">
                  <h4>Flock Allocation On Purchase</h4>
                  <span><i>Brooder I: </i>100</span>
                  <span><i>Brooder II: </i>80</span>
                  <span><i>Brooder III: </i>100</span>
                  <span><i>Brooder IV: </i>110</span>
                </div>
              </div>
            </div>

            <div class="update-flock">
              <div class="add-flock">
                <h3>Add To Flock</h3>
                <form action="/update/flock" method="POST">
                  <input
                    type="text"
                    name="flock-quantity"
                    id=""
                    placeholder="Quantity"
                    required
                  />
                  <input
                    type="text"
                    name="flock-price"
                    id=""
                    placeholder="Price"
                    required
                  />
                  <input
                    type="date"
                    name="date-bought"
                    id=""
                    placeholder="Date Bought"
                    required
                  />
                  <button class="btn">Update Flock</button>
                </form>
              </div>
              <div class="flock-history">
                <h3>Flock Update History</h3>
                <table>
                  <tr>
                    <th>Quantity<i>(Count)</i></th>
                    <th>Price<i>(Ksh)</i></th>
                    <th>Date Bought</th>
                  </tr>
                  {% for data in flock[::-1] %}
                  <tr>
                    <td>{{data[1]}}</td>
                    <td>{{data[2]}}</td>
                    <td>{{data[3].strftime('%d %b %y')}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </section>

        <!-- Products Panel -->
        <section class="hidden-panel" id="products">
          <h1>Products</h1>
          <div class="products-section">
            <h2>Products Section</h2>
            <div class="panel-statistics"></div>
            {{flock}}
            <div class="update-products"></div>
          </div>
        </section>

        <!-- Brooder's Data -->
        <section class="hidden-panel" id="brooders">
          <h1>Brooders Statistics</h1>
          <div class="brooders-section">
            <div class="panel-statistics"></div>
            {{brooders}}
            <div class="update-brooder"></div>
          </div>
        </section>

        <!-- Orders Panel -->
        <section class="hidden-panel" id="orders">
          <h1>Orders</h1>
          <div class="orders-section">
            <h2>Order Section</h2>
            <table>
              <tr>
                <th>Order No.</th>
                <th>Customer No.</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Date</th>
                <th>Status</th>
              </tr>

              {% for order in orders %}

              <tr>
                <td>{{order[0]}}</td>
                {% for customer in customers %} {% if order[1] == customer[0] %}
                <td>{{customer[1]}} {{customer[2]}} - {{order[1]}}</td>
                {% endif %} {% endfor %}

                <td>{{order[2]}}</td>
                <td>{{order[3]}}</td>
                <td>{{order[4]}}</td>
                <td>{{order[4].strftime('%d %b %Y')}}</td>
                <td>{{order[5]}}</td>
              </tr>

              {% endfor %}
            </table>
            <div class="panel-statistics"></div>
            <div class="update-orders"></div>
          </div>
        </section>

        <!-- Location Panel -->
        <section class="hidden-panel" id="location">
          <h1>Location</h1>
          <div class="location-section">
            <h2>Location Section</h2>
            <div class="panel-statistics"></div>
            {{location}}
            <div class="update-location"></div>
          </div>
        </section>

        <!-- Feedback Panel -->
        <section class="hidden-panel" id="feedback">
          <h1>Feedback</h1>
          <div class="feedback-section">
            <h2>Feedback Section</h2>

            <div class="panel-statistics">
              <table>
                <tr>
                  <th>Feedback ID.</th>
                  <th>Customer ID.</th>
                  <th>Customer Name</th>
                  <th>Feedback</th>
                  <th>Location</th>
                  <th>Status</th>
                  <th>Date</th>
                </tr>

                {% for feedback in feedbacks %}

                <tr>
                  <td>{{feedback[0]}}</td>

                  <td>{{feedback[1]}}</td>
                  {% for customer in customers %} {% if feedback[1] ==
                  customer[0] %}
                  <td>{{customer[1]}} {{customer[2]}}</td>
                  {% endif %} {% endfor %}

                  <td>{{feedback[2]}}</td>
                  <td>{{feedback[3]}}</td>

                  {% if feedback[3] != 0 %}
                  <td><a href="#">Inactive</a></td>
                  {% else %}
                  <td><a href="#">Active</a></td>
                  {% endif %}

                  <td>{{feedback[5].strftime('%d %b %Y')}}</td>
                </tr>

                {% endfor %}
              </table>
            </div>
            <div class="update-feedback"></div>
          </div>
        </section>

        <!-- Statistics Panel -->
        <section class="hidden-panel" id="statistics">
          <h1>Statistics</h1>
          <div class="statistics-section">
            <h2>Statistics Section</h2>
            <div class="panel-statistics"></div>
            <h4>Flock</h4>
            {{flock}} <br />
            <h4>Brooders</h4>
            {{brooders}} <br />
            <h4>Orders</h4>
            {{orders}} <br />
            <h4>Employees</h4>
            {{employees}} <br />
            <h4>Feedbacks</h4>
            {{feedbacks}} <br />
            <h4>Customers</h4>
            {{customers}}

            <div class="update-statistics"></div>
          </div>
        </section>
      </section>
    </section>
    <footer>
      <div class="sponsors">Lorem ipsum dolor sit amet consectetur.</div>
      <span class="copyright"> Copyright&copy; Shammah 2021</span>
    </footer>
    <script src="../static/main.js"></script>
    <script src="../static/manage.js"></script>
  </body>
</html>
