<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="icon" href="../static/resources/chicken.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/management.css" />
    <title>The Farm</title>
  </head>

  <body>
    <header>
      <nav>
        <ul class="nav-list">
          <li class="nav-item"><a href="#">Explore</a></li>
          <li class="nav-item logo"><a href="/">The Farm</a></li>
          <li class="nav-item"><a href="/admin"> Admin Panel</a></li>
        </ul>
      </nav>
    </header>
    <div class="navigation">
      <ul class="user-nav">
        <li>
          <a href="/employee">Administrator</a>
          <div class="online"></div>
        </li>
        <li><a href="/employee/brooder"> Brooders </a></li>
        <li><a href="/employee/health">Health Centre</a></li>
        <li><a href="/employee_login">Log Out</a></li>
      </ul>
    </div>

    <section class="management-container">
      <div class="admin-nav">
        <ul class="admin-list">
          <li class="admin-func active-func">Flock</li>
          <li class="admin-func">Brooders</li>
          <li class="admin-func">Orders</li>
          <li class="admin-func">Feedback</li>
          <li class="admin-func">Location</li>
          <li class="admin-func">Statistics</li>
        </ul>
      </div>
      <section class="admin-panel">
        <!-- Flock Data -->
        <section class="hidden-panel active-panel" id="flock">
          <h1>Flock Statistics</h1>
          <div class="flock-section">
            <div class="statistics">
              <div class="flock-stats stats">
                <div class="main-stat">
                  <div class="spinner-circle">
                    <div class="spinner"></div>
                    <!-- Get Latest flock addition -->

                    <div class="spinner-content">{{flock[-1][1]}}</div>
                  </div>
                  <span
                    ><strong>Last Purchase: </strong>{{flock[-1][3].strftime('%d
                    %B %Y')}}</span
                  >
                </div>
                <div class="stat-meta">
                  <h4>Flock Allocation On Purchase</h4>
                  <span><i>Brooder I: </i>100</span>
                  <span><i>Brooder II: </i>80</span>
                  <span><i>Brooder III: </i>100</span>
                  <span><i>Brooder IV: </i>110</span>
                </div>
              </div>
            </div>

            <div class="update-flock">
              <div class="add-flock">
                <h3>Add To Flock</h3>
                <form action="/update/flock" method="POST">
                  <input
                    type="text"
                    name="flock-quantity"
                    id=""
                    placeholder="Quantity"
                    required
                  />
                  <input
                    type="text"
                    name="flock-price"
                    id=""
                    placeholder="Price"
                    required
                  />
                  <input
                    type="date"
                    name="date-bought"
                    id=""
                    placeholder="Date Bought"
                    required
                  />
                  <button class="btn">Update Flock</button>
                </form>
              </div>
              <div class="flock-history">
                <h3>Flock Update History</h3>
                <table>
                  <tr>
                    <th>Quantity<i>(Count)</i></th>
                    <th>Price<i>(Ksh)</i></th>
                    <th>Date Bought</th>
                  </tr>
                  {% for data in flock[::-1] %}
                  <tr>
                    <td>{{data[1]}}</td>
                    <td>{{data[2]}}</td>
                    <td>{{data[3].strftime('%d %b %y')}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </section>

        <!-- Brooder's Data -->
        <section class="hidden-panel" id="brooders">
          <h1>Brooders Statistics</h1>
          <div class="brooders-section">
            <div class="statistics">
              <div class="brooder-stats stats">
                <div class="main-stat">
                  <div class="spinner-circle">
                    <div class="spinner"></div>
                    <!-- Get Latest flock addition -->

                    <div class="spinner-content">{{flock[-1][1]}}</div>
                  </div>
                  <span
                    ><strong>Last Purchase: </strong>{{flock[-1][3].strftime('%d
                    %B %Y')}}</span
                  >
                </div>
                <div class="stat-meta">
                  <h4>Flock Allocation On Purchase</h4>
                  <span><i>Brooder I: </i>100</span>
                  <span><i>Brooder II: </i>80</span>
                  <span><i>Brooder III: </i>100</span>
                  <span><i>Brooder IV: </i>110</span>
                </div>
              </div>
            </div>

            <div class="update-flock">
              <div class="add-flock">
                <h3>Add To Flock</h3>
                <form action="/update/flock" method="POST">
                  <input
                    type="text"
                    name="flock-quantity"
                    id=""
                    placeholder="Quantity"
                    required
                  />
                  <input
                    type="text"
                    name="flock-price"
                    id=""
                    placeholder="Price"
                    required
                  />
                  <input
                    type="date"
                    name="date-bought"
                    id=""
                    placeholder="Date Bought"
                    required
                  />
                  <button class="btn">Update Flock</button>
                </form>
              </div>
              <div class="flock-history">
                <h3>Brooder History</h3>
                <table>
                  <tr>
                    <th>Quantity<i>(Count)</i></th>
                    <th>Price<i>(Ksh)</i></th>
                    <th>Date Bought</th>
                  </tr>
                  {% for data in flock[::-1] %}
                  <tr>
                    <td>{{data[1]}}</td>
                    <td>{{data[2]}}</td>
                    <td>{{data[3].strftime('%d %b %y')}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </section>

        <section class="hidden-panel" id="orders">
          <h2>Orders</h2>
          <div class="orders-section">
            <h3>Orders Section</h3>
          </div>
        </section>
        <section class="hidden-panel" id="location">
          <h2>Location</h2>
        </section>
        <section class="hidden-panel" id="feedback">
          <h2>Feedback</h2>
        </section>
        <section class="hidden-panel" id="statistics">
          <h2>Statistics</h2>
        </section>
      </section>
    </section>

    <!-- <a href="#" style="float: right">Back To Top</a> -->
    <!-- <br /> -->
    <footer>
      <div class="sponsors">Lorem ipsum dolor sit amet consectetur.</div>
      <span class="copyright"> Copyright&copy; Shammah 2021</span>
    </footer>
    <script src="../static/main.js"></script>
    <script src="../static/manage.js"></script>
  </body>
</html>
