<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="../static/resources/chicken.ico">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>The Farm</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="#">Explore</a></li>
                <li class="nav-item logo"><a href="/">The Farm</a></li>
                <li class="nav-item"><a href="/admin"> Admin</a></li>
            </ul>
        </nav>
    </header>
    <div class="navigation">
        <ul class="user-nav">
            <li><a href="#brooder-container"> Brooder </a></li>
            <li><a href="#inventory-container">Inventory</a></li>
            <li><a href="/">Log Out</a></li>
        </ul>
    </div>
    <section class="brooder-container" id="brooder-container">
        <h2>Brooder Summary</h2>
        <div class="brooders">
            <h3>Brooder I</h3>
            <div class="brooder-section">
                <div class="brooder-meta">
                    <span><strong>Health: </strong>...</span>
                    <span><strong>Flock: </strong>300</span>
                    <span><strong>Mortality: </strong>1:20</span>
                    <span><strong>Feeds: </strong>Lorem, ipsum dolor.</span>
                    <button class="update-brooder btn">Update</button>
                </div>
                <div class="update-form">

                    <span> Flock : <input type="text" name="flock"></span>
                    <span>Mortality : <input type="text" name="flock"></span>
                    <span>Feeds : <input type="text" name="flock"></span>
                    <a href="#"><button class="btn">Save Changes</button></a>

                </div>
            </div>

            <h3>Brooder I</h3>
            <div class="brooder-section">
                <div class="brooder-meta">
                    <span><strong>Health: </strong>...</span>
                    <span><strong>Flock: </strong>300</span>
                    <span><strong>Mortality: </strong>1:20</span>
                    <span><strong>Feeds: </strong>Lorem, ipsum dolor.</span>
                    <button class="update-brooder btn">Update</button>
                </div>
                <div class="update-form">

                    <span> Flock : <input type="text" name="flock"></span>
                    <span>Mortality : <input type="text" name="flock"></span>
                    <span>Feeds : <input type="text" name="flock"></span>
                    <a href="#"><button class="btn">Save Changes</button></a>

                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="inventory-container" id="inventory-container">
        <h2>Inventory Summary</h2>
        <div class="inventory-table">
            <table>
                <tr>
                    <td>
                        <h3> Tools</h3>
                    </td>
                    <td>
                        <h3> Feeds</h3>
                    </td>
                    <td>
                        <h3> Medicine</h3>
                    </td>
                </tr>
                <tr>
                    <td>Tool 1</td>
                    <td>Chicken Feed</td>
                    <td>Medicine 1</td>
                </tr>
                <tr>
                    <td>Tool 1</td>
                    <td>Chicken Feed</td>
                    <td>Medicine 1</td>
                </tr>
                <tr>
                    <td>Tool 1</td>
                    <td>Chicken Feed</td>
                    <td>Medicine 1</td>
                </tr>
            </table>
        </div>
    </section>
    <br>
    <a href="#" style="float: right;">Back To Top</a>
    <br>
    <footer>
        <div class="sponsors">Lorem ipsum dolor sit amet consectetur. </div>
        <span class="copyright"> Copyright&copy; Shammah 2021</span>
    </footer>
    <script src="../static/main.js"></script>
</body>

</html>